.card-style{
    border: 2px solid #2f3a55;
    background-color: #9daa7f;
    color: white;
}

.card-style2{
    border: 2px solid #2f3a55;
    background-color: #6e6f73;
    color: white;
}

.card-num{
    color: rgb(229, 232, 237);

}

.dashboard-text {
    color: #2f3a55
}