div {
  margin-bottom: 1em;
}

.container {
  margin-top: 30px;
}

.btn-style {
  /* background-color: #2f3a55 ; */
  background-color: #5c6b8a;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.input-brand {
  color: #576141cf;
}