<div class="container">
  <div class="card mx-auto w-50 my-2">
    <div class="card-body">
      <h1 class="text-center">Add Task</h1>
      <div class="form-group">
        <label><h5 class="input-brand">Task Name:</h5></label>
        <input
          type="text"
          class="form-control"
          [(ngModel)]="title"
          name="title"
          [class.is-invalid]="showWarning()"
          (input)="showWarning.set(false)"
        />
      </div>

      <!-- Amount -->
      <div class="form-group mt-2">
        <label><h5 class="input-brand">Amount:</h5></label>
        <input type="number" class="form-control" [(ngModel)]="amount" name="amount" />
      </div>

      <!-- Category -->
      <div class="form-group mt-2">
        <label><h5 class="input-brand">Category:</h5></label>
        <select class="form-control" [(ngModel)]="category" name="category">
          @for (cat of expenseService.catagories(); track cat) {
            <option [value]="cat">{{ cat }}</option>
          }
        </select>
      </div>

      <div *ngIf="showWarning()" class="invalid-feedback d-block">Task Name is required!</div>

      <div class="d-grid gap-2">
        <button class="btn btn-primary btn-style" (click)="addExpense()">Add Task</button>
      </div>
    </div>
  </div>
</div>
